#root {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

#navbar {
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-1);
  display: flex;
  height: var(--navbar-height);
  width: 100%;
}

#navbar-logo {
  height: 90%;
}

.page {
  background-color: var(--light-bg-2);
  display: flex;
  flex-direction: column;
  height: var(--page-height);
}

.page-container {
  display: grid;
  gap: 1rem;
  margin: 1rem auto;
  width: 90%;
}

.select-container {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

#category-select {
  grid-template-columns: repeat(5, 1fr);
}

#difficulty-select {
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
}

.btn {
  background-color: var(--light-bg-1);
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem;
}

.btn:hover {
  background-color: var(--dark-bg-1);
  color: var(--gray-bg);
  transform: scale(1.2);
}

.btn-submit {
  background-color: var(--dark-bg-1);
  color: var(--gray-bg);
  margin: auto;
  padding: 0.5rem 1rem;
  width: fit-content;
}
