* {
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --navbar-height: 15vh;
  --page-height: 85vh;
  --dark-bg-1: #7902f5;
  --dark-bg-2: #3704ab;
  --light-bg-1: #EAD6FB;
  --light-bg-2: #a982ff;
  --gray-bg: #E1E1E3;
}

.hidden {
  visibility: hidden !important;
}

.underline {
  text-decoration: underline;
}

@font-face {
  font-family: 'roboto';
  src: url('/src/assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('/src/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('/src/assets/fonts/Roboto-Medium.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('/src/assets/fonts/Roboto-Bold.ttf');
  font-weight: 900;
  font-display: swap;
}
